<div class="container">
  <h1>Commandes</h1>
  <div class="row filtres">
    <div class="col-12">
      <input type="text" [(ngModel)]="rechercheAvis" (input)="filtrerAvis()" placeholder="Rechercher un utilisateur" class="col-5">
      <input type="text" id="filtreId" class="col-1" (input)="filtrerAvis()" [(ngModel)]="filtreId" placeholder="Id">
      <select id="filtreTaille" class="col-1" [(ngModel)]="filtreEtoile" (change)="filtrerAvis()">
        <option value="">--Étoile--</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
  </div>
  <div class="row cont-avis" *ngFor="let avis of this.avisList">
    <div class="col-12">
      <div class="col-3">
        <strong>Id:</strong> {{ avis.id }}
      </div>
      <div class="col-3">
        <strong>Étoile:</strong> {{ avis.etoile }}
      </div>
      <div class="col-3">
        <strong>Nom:</strong> {{ avis.username }}
      </div>
    </div>
    <div class="col-12 description">
      <strong>Description:</strong> {{ avis.description }}
    </div>
    <button (click)="deleteAvis(avis.id)" class="col-2">Supprimer</button>
  </div>
</div>
